<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tamagotchi</title>
    </head>
    <body>
        <h1>Your Tamagotchi has been fed</h1>
        <h3>Look at all the yummy cheerios</h3>

        <p>(> * v * )> o O o O o O o</p>


        <form action="/status" method="post">
            <button type='submit'>Check Status</button>
        </form>
    </body>
</html>
